# Object files *.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# http://www.gnu.org/software/automake

#Makefile.in

# http://www.gnu.org/software/autoconf

Makefile
.deps
config.h


#Ctags
tags

cmake-build-debug
docs/docs
docs/_build
.DS_Store
cmake-build
